.chat-box {
    background-color: rgb(52, 53, 65);
}

.human-msg,
.bot-msg {
    tab-size: 4;
    color-scheme: dark;
    color: rgb(236, 236, 241);
    border: 0 solid #d9d9e3;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 42rem;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.human-avatar {
    tab-size: 4;
    color-scheme: dark;
    color: rgb(236, 236, 241);
    font-size: 1rem;
    line-height: 1.5rem;
    border: 0 solid #d9d9e3;
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 30px;
    flex-direction: column;
    align-items: flex-end;
}

.human-msg-text {
    tab-size: 4;
    color-scheme: dark;
    color: rgb(236, 236, 241);
    font-size: 1rem;
    line-height: 1.5rem;
    border: 0 solid #d9d9e3;
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: calc(100% - 50px);
    flex-direction: column;
    gap: .75rem;
}

.bot-msg {
    background-color: rgb(68, 70, 84);
}

.bot-svg-wrap {
    color: white;
    background-color: rgb(16, 163, 127);
    width: 30px;
    height: 30px;
    padding: 4px;
}

.bot-svg-wrap img {
    width: 22px;
    height: 22px;
}

.chat-box img {
    width: 100% !important;
    margin: 0 !important;
}