$base-background-color-dark: rgb(32, 30, 30);
$base-font-color-dark: #fff;
$action-color-dark: darken($action-color, 10%);
$highlight-color-dark: darken($action-color, 10%);
$base-border-color-dark: $dark-gray;
$base-border-dark: 1px solid $base-border-color-dark;

@media (prefers-color-scheme: dark) {
	body {
		color: $base-font-color-dark;
		background-color: $base-background-color-dark;
	}

	.navigation {
		background: $base-background-color-dark;
		box-shadow: 0 2px $highlight-color-dark;
	}

	#{$all-button-inputs},
	button {
		background-color: $action-color-dark;
	}

	.site-footer {
		background-color: $highlight-color-dark;
	}

	a {
		color: $action-color-dark;

		&:active,
		&:focus,
		&:hover {
			color: darken($action-color-dark, 10%);

		}
	}

	.site-header-container {
		background-color: $highlight-color-dark;
	}

	fieldset {
		background-color: lighten($base-border-color-dark, 10%);
		border: $base-border-dark;
	}

	#{$all-text-inputs},
	select[multiple=multiple],
	textarea {
		border: $base-border-dark;
		box-shadow: $form-box-shadow;

		&:hover {
			border-color: darken($base-border-color-dark, 10%);
		}

		&:focus {
			border-color: $action-color-dark;
			box-shadow: $form-box-shadow-focus;
		}
	}

	code {
		background-color: #010101;
	}
	

}

@media (prefers-color-scheme: light) {
	body {
		color: $base-font-color ;
		background-color: $base-background-color ;
	}

	.navigation {
		background: $base-background-color;
		box-shadow: 0 2px $highlight-color;
	}

	#{$all-button-inputs},
	button {
		background-color: $action-color;
	}

	.site-footer {
		background-color: $highlight-color;
	}

	a {
		color: $action-color;

		&:active,
		&:focus,
		&:hover {
			color: darken($action-color, 10%);

		}
	}

	.site-header-container {
		background-color: $highlight-color;
	}

	fieldset {
		background-color: lighten($base-border-color, 10%);
		border: $base-border;
	}

	#{$all-text-inputs},
	select[multiple=multiple],
	textarea {
		border: $base-border;
		box-shadow: $form-box-shadow;

		&:hover {
			border-color: darken($base-border-color, 10%);
		}

		&:focus {
			border-color: $action-color;
			box-shadow: $form-box-shadow-focus;
		}
	}

	code {
		background-color: #eee;	
	}
}