$base-background-color-dark: rgb(32, 30, 30);
$base-font-color-dark: #fff;
$action-color-dark: darken($action-color, 10%);
$highlight-color-dark: darken($action-color, 10%);


@media (prefers-color-scheme: dark) {
	body {
		color: $base-font-color-dark;
		background-color: $base-background-color-dark;
	}

	.navigation {
		background: $base-background-color-dark;
		box-shadow: 0 2px $highlight-color-dark;
	}

	#{$all-button-inputs},
	button {
		background-color: $action-color-dark;
	}

	.site-footer {
		background-color: $highlight-color-dark;
	}

	a {
		color: $action-color-dark;

		&:active,
		&:focus,
		&:hover {
			color: darken($action-color-dark, 10%);

		}
	}

	.site-header-container {
		background-color: $highlight-color-dark;
	}

	// An experiment
	// img {
	// 	filter: brightness(90%);
	// }
}

@media (prefers-color-scheme: light) {
	body {
		color: $base-font-color ;
		background-color: $base-background-color ;
	}

	.navigation {
		background: $base-background-color;
		box-shadow: 0 2px $highlight-color;
	}

	#{$all-button-inputs},
	button {
		background-color: $action-color;
	}

	.site-footer {
		background-color: $highlight-color;
	}

	a {
		color: $action-color;

		&:active,
		&:focus,
		&:hover {
			color: darken($action-color, 10%);

		}
	}

	.site-header-container {
		background-color: $highlight-color;
	}



}