@media (min-width: 310px) {

	.img-header {
		background-image: -webkit-image-set(url("/assets/header/mobile.webp") 1x,
				url("/assets/header/mobile@2.webp") 2x,
				url("/assets/header/mobile@3.webp") 3x,
			);
		background-image: image-set(url("/assets/header/mobile.webp") 1x,
				url("/assets/header/mobile@2.webp") 2x,
				url("/assets/header/mobile@3.webp") 3x,
			);

	}
}

@media (min-width: 1024px) {

	.img-header {
		background-image: -webkit-image-set(url("/assets/header/desktop.webp") 1x,
				url("/assets/header/desktop@2.webp") 2x,
			);
		background-image: image-set(url("/assets/header/desktop.webp") 1x,
				url("/assets/header/desktop@2.webp") 2x,
			);

	}
}